.cardWrapper {
	display: flex;
	flex-direction: row;
	margin-bottom: 5rem;
	a {
		text-decoration: none;
	}
	.cardDate {
		height: 25%;
		width: 170px;
		font-family: 'Roboto Black';
		display: flex;
		flex-direction: column;
		.year {
			font-size: 0.25rem;
		}
		.month {
			font-size: 2rem;
			line-height: 2rem;
		}
		.day {
			font-size: 4rem;
			line-height: 4rem;
		}
	}
	.cardContent {
		width: 75%;
		p {
			margin: 0.5rem 0;
		}
	}
	.cardLink {
		text-decoration: none;
	}
	h3 {
		font-family: 'Roboto Black';
	}
}
