.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 2rem;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 10px;
}

.grid-item {
    background: radial-gradient(
        at 50% 0%,
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(10px);
        &:nth-child(odd) {
            background-image: linear-gradient(180deg, #bf1a90 0%, #54135d 100%);
        }
}
