html, body {   
    margin:0;
    padding:0;
    height:100%;
    width: 100%; 
    background-color: #220F61;
    background: linear-gradient(
		225deg,
		rgba(82, 42, 201, 0.69) 0%,
		rgba(72, 37, 180, 1) 36%,
		#220f61 100%
    );	
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white; 
}
body {
  width:100%;
  height: 100%;
  padding-bottom: 5vh;
  overflow-x: hidden;

}


::selection {
    background: #FFD400; /* WebKit/Blink Browsers */
    color: #fff;
  }
  ::-moz-selection {
    background: #FFD400; /* Gecko Browsers */
    color: #fff;

  }


  hr{
    margin: 5rem 0
  }

 .content{
   margin-bottom: 50vh;
 }