*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
	width: 100%;
	color: white;
	overflow-x: hidden;
}
body {
	position: relative;
	background-image: linear-gradient(
		225deg,
		rgba(82, 42, 201, 0.69) 0%,
		rgba(72, 37, 180, 1) 36%,
		#220f61 100%
	);
	background-repeat: no-repeat;
	background-size: 400%;
	background-attachment: fixed;
	width: 100%;
	box-shadow: 0 14px 27px 9px rgba(0, 0, 0, 0.5);
}

::selection {
	background: #ffd400; /* WebKit/Blink Browsers */
	color: #fff;
}
::-moz-selection {
	background: #ffd400; /* Gecko Browsers */
	color: #fff;
}

.contentWrapper {
	background-image: linear-gradient(
		1deg,
		rgba(82, 42, 201, 0.69) 0%,
		rgba(72, 37, 180, 1) 28%,
		#220f61 79%
	);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5rem 1rem 1rem 1rem;
	margin: 0 -1rem;
}
