.header {
    // background-image: linear-gradient(180deg, #bf1a90 0%, #54135d 100%);

	background-image: linear-gradient(
		180deg,
		#bf1a90 0%,
		#661466 70%,
		#54135d 80%,
		#220f61 95%
	);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 66vh;
	min-width: 100vw;
	top: 0;
	z-index: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 5rem;
	margin: -1.5rem;

    @include maxWidth(1200px) {
        padding: 5rem 3rem;
    }

    @include maxWidth(1024px) {
        padding: 5rem 2.5rem;
    }

    @include maxWidth(576px) {
        padding: 5rem 0;
        margin: 0;
    }

    &__container {
        display: flex;
    
        @include maxWidth(1024px) {
            flex-direction: column;
        }
    }

    &__image {
        width: 33.33333%;
    
        @include maxWidth(1024px) {
            width: 100%;
            margin-bottom: 40px;
        }
    }

    &__content {
        width: 66.66667%;
    
        @include maxWidth(1200px) {
            padding-left: 40px;
        }
    
        @include maxWidth(1024px) {
            width: 100%;
            padding-left: 0;
        }
    }

    &__links {
		width: 200px;
		display: flex;
		flex-direction: row;
        
		a {
			margin-right: 2rem;
		}
	}
}