.hamburger {
	position: fixed;
	top: 0rem;
	right: 0.5rem;
	z-index: 9999;
	display: none;

	@include maxWidth(768px) {
		display: block;
	}
}

.navigation {
	&__wrapper {
		width: 100vw;
		max-width: 50vw;
		line-height: 2rem;
		margin-left: auto;
		position: fixed;
		top: 0;
		z-index: 999;
	}

	margin: 0px 0px 0px auto;
	padding: 0px 0.5rem 0px 0px;
	list-style: none;
	display: flex;
	-webkit-box-pack: end;
	justify-content: flex-end;
	width: 100vw;
	line-height: 2rem;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;

	@include maxWidth(768px) {
		margin: 0;
		padding: 0 1rem;
		list-style: none;
		display: flex;
		justify-content: flex-end;
		width: 100vw;
		//background-image: linear-gradient(#bf1a90 0%, rgba(255, 255, 255, 0) 100%);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__link {
		text-align: center;
		flex-grow: 1;
		position: relative;
		//border-right: 1px #000 solid;
		text-decoration: none;
		position: relative;
		max-width: 120px;

		&:hover {
			color: white;
		}

		@include maxWidth(768px) {
			display: none;
		}
	}
}

.homeLink {
	position: fixed;
	top: 0.5rem;
	left: 0.5rem;
	height: 1.25rem;
	z-index: 9999;
}
