@import "variables.scss";
@import './mixins';
@import './fonts.scss'; 
// @import './reset.scss';
// @import "../../../node_modules/bootstrap/scss/bootstrap.scss"; 
@import './body.scss'; 
@import './typography.scss'; 
@import './contact.scss'; 
@import './blog.scss'; 
@import './form.scss'; 
@import './pagination.scss'; 
@import './button.scss';
@import './card.scss';
@import './content-holder.scss';
@import './header.scss';
@import './intro.scss';
@import './navigation.scss'; 
@import './scroll-top.scss';
@import './sidebar.scss';

// from bootstrap 
.container {
    display: block;
    margin: 0 auto;
    max-width: 1320px;
    padding: 0 15px;
}

.container-fluid {
    width: 100%;
    // padding-right: var(--bs-gutter-x, 0.75rem);
    // padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%;
}