.title, .subtitle{ color: #FFD400; }
a:active, a:focus{
    text-decoration: none;
   outline: #FFD400;
}

h1.intro{
    /* Montserrat Black = 900 */
    font-weight: 900;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

