@import '../../../node_modules/sass-mq/mq';

/*
@include mq($until: tablet) {
	margin-bottom: auto;
}

$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px
);
*/
.hamburgerIcon {
	position: fixed;
	top: 0rem;
	right: 0.5rem;
	z-index: 9999;
	@include mq($from: tablet) {
		display: none;
	}
}
