.navWrapper {
	width: 100vw;
	max-width: 50vw;
	line-height: 2rem;
	margin-left: auto;
	position: fixed;
	top: 0;
	z-index: 999;
}

.home {
	position: absolute;
	top: 0.5rem;
	left: 1rem;
}

nav {
	margin: 0;
	padding: 0 1rem;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	width: 100vw;
}
.navItem {
	text-align: center;
	flex-grow: 1;
	position: relative;
	//border-right: 1px #000 solid;
	text-decoration: none;
	position: relative;
	max-width: 120px;
	&:hover {
		color: white;
	}

	&:not(:last-child) {
		&::after {
			//	padding: 0 1rem;
			position: absolute;
			top: 50%;
			bottom: 50%;
			right: 0;
			content: '';
			width: 5px;
			height: 5px;
			border-radius: 5px;
			background-color: #ffd400;
		}
	}
}
