@import '../../../node_modules/sass-mq/mq';

/*
@include mq($until: tablet) {
	margin-bottom: auto;
}

$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px
);
*/

.navWrapper {
	width: 100vw;
	max-width: 50vw;
	line-height: 2rem;
	margin-left: auto;
	position: fixed;
	top: 0;
	z-index: 999;
}

.homeLink {
    position: relative;
    z-index: 1000;
}

.home {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	height: 1.25rem;
}

.nav {
    margin: 0px 0px 0px auto;
    padding: 0px 0.5rem 0px 0px;
    list-style: none;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    width: 100vw;
    line-height: 2rem;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
}

@include mq($from: tablet) {
	nav {
		margin: 0;
		padding: 0 1rem;
		list-style: none;
		display: flex;
		justify-content: flex-end;
		width: 100vw;
		//background-image: linear-gradient(#bf1a90 0%, rgba(255, 255, 255, 0) 100%);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.navItem {
		text-align: center;
		flex-grow: 1;
		position: relative;
		//border-right: 1px #000 solid;
		text-decoration: none;
		position: relative;
		max-width: 120px;
		&:hover {
			color: white;
		}

		&:not(:last-child) {
			&::after {
				//	padding: 0 1rem;
				position: absolute;
				top: 50%;
				bottom: 50%;
				right: 0;
				content: '';
				width: 5px;
				height: 5px;
				border-radius: 5px;
				background-color: #ffd400;
			}
		}
	}
}

@include mq($until: tablet) {
	nav {
		.navItem {
			display: none;
		}
	}
}
